*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}


:root{

    --text-color:#222;
    --subheading-color:#a0a0a0;
    --placeholder-color:#6c6c6c;
    --primary-color:#fff;
    --secondary-color:#E9EEF6;
    --secondary-hover-color:#dbe1ea;
    --input-bg:#fff;
    --chat-bg:#f1f1f1;
    --chat-border:#dedede;
    --output-bg:#ddd;
    --output-border:#ccc;

}
body.dark{
  
    --text-color:#f1f1f1;
    --subheading-color:#bbbbbb;
    --placeholder-color:#999;
    --primary-color:#121212;
    --secondary-color:#1f1f1f;
    --secondary-hover-color:#2a2a2a;
    --input-bg:#2a2a2a;
    --chat-bg:#1e90ff;
    /* 1e1e1e */
    --chat-border:#333;
    --output-bg:#2a2a2a;
    --output-border:#444;  
}
body{

    background: var(--primary-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;

}

.header{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 25%;
}

.header .title{
    margin: auto;
    width: 600px;
    font-weight: 200;
    font-size: 48px;
}

.gemini{
    background: linear-gradient(to right, #4285f4, #d96570);
    -webkit-text-fill-color: #222;
}

.typing-area{
    width: 100%;
    margin: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 50px;
}

.input-wrapper{
    border: 1px solid var(--text-color);
    padding: .5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-wrapper input{
    width: 50vw;
    height: 60px;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--input-bg);
    color: var(--text-color);
}

.input-wrapper input:focus{
    outline: none;  
}

/*outline: none, text box click pannum bodhu, it does not shows border*/

#send-message-button{
    border: none;
    background-color: #efefef; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;   
}
/* cursor pointer --- hand symbol
background-color -- bg color of image
border -- border of img */

.chat-area{
    width: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    z-index: 1000;

    height: 70vh;
    overflow-y: auto;
}

.chat{
    background-color: var(--chat-bg);
    border: 2px solid var(--chat-border);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.output{
    border-color: var(--output-border);
    background-color: var(--output-bg);
}



.user{

    align-self: flex-end;
}


/* .Gemini{

    align-self: flex-start;
} */


.gemini {
  background: linear-gradient(to right, #4285f4, #9b72cb, #d96570); /* Gradient */
  -webkit-background-clip: text;  /* Clip background to text */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */
  display: inline; /* Prevent it from becoming a block */
}


@keyframes transition {

    from{
        opacity: 0;
        transform: translateY(10px);
    }
    
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.message{

    animation: transition 0.7s ease forwards;
    background-color: var(--chat-bg);
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    padding: 1rem;
    border-radius: 15px;
}

.loading{

    animation: transition 0.7s ease forwards;
    background-color: #efefef;
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    padding: 1rem;
    border-radius: 15px;

}

.theme-toggle{

    
    background: none;
    background-color: #efefef;
    border-radius: 50%;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
    box-sizing: border-box;
}